/* ## Colors */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body, html {
  min-height: 100vh;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(210, 46%, 95%);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

#root, #__next {
  isolation: isolate;
}

h1, p, time {
  font-family: "Manrope";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7vw;
  border-radius: 0.75rem;
  background-color: white;
  max-width: 23.125rem;
  box-shadow: 9px 7px 19px 9px rgba(128, 113, 113, 0.1);
}
.container .container__img {
  border-radius: 0.75rem 0.75rem 0 0;
}
.container .container__section1 {
  display: flex;
  flex-direction: column;
}
.container .container__section1 .container__section1__1 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 1.5rem 2rem;
  margin-bottom: 0.5rem;
}
.container .container__section1 .container__section1__1 h1 {
  font-size: 1.0625rem;
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}
.container .container__section1 .container__section1__1 p {
  font-size: 0.8125rem;
  color: hsl(214, 17%, 51%);
  font-weight: 600;
  line-height: 175%;
}
.container .container__section1__2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.25rem 2rem;
}
.container .container__section1__2 .container__section1__2__1 {
  display: flex;
  flex-direction: row;
}
.container .container__section1__2 .container__section1__2__1 .container__section1__2img1 {
  width: 2.625rem;
  border-radius: 1.75rem;
  margin-right: 1rem;
}
.container .container__section1__2 .container__section1__2__1 .container__section1__2avatar .name {
  font-size: 0.8125rem;
  font-weight: 800;
  color: hsl(217, 19%, 35%);
}
.container .container__section1__2 .container__section1__2__1 .container__section1__2avatar time {
  font-size: 0.8125rem;
  font-weight: 500;
  color: hsl(212, 23%, 69%);
}
.container .container__section1__2 .container__section1__2svgcontainer {
  width: 2rem;
  height: 2rem;
  background-color: hsl(210, 46%, 95%);
  border-radius: 1rem;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container .container__section1__2 .container__section1__2svgcontainer-horizontal {
  width: 2rem;
  height: 2rem;
  background-color: hsl(210, 46%, 95%);
  border-radius: 1rem;
  align-self: center;
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;
}
.container .container__section1__2 .container__section1__2svgcontainer-click {
  display: none;
}
.container .container1__3hidden {
  display: none;
}
.container .container1__3hidden .container__section1__3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: hsl(217, 19%, 35%);
  padding: 1.6rem 1.75rem;
  justify-content: space-between;
  border-radius: 0 0 0.75rem 0.75rem;
}
.container .container1__3hidden .container__section1__3 .hidden {
  display: none;
}
.container .container1__3hidden .container__section1__3 .container__section1__3share {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.container .container1__3hidden .container__section1__3 .container__section1__3share p {
  color: hsl(212, 23%, 69%);
  font-size: 0.8125rem;
  letter-spacing: 5pt;
}
.container .container1__3hidden .container__section1__3 .container__section1__3share .media_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.container .container1__3hidden .container__section1__3 .container__section1__3share .media_buttons img {
  height: 22px;
}
.container .container1__3hidden .container__section1__3 .container__section1__3share .media_buttons .twitter {
  height: 1.125rem;
}
.container .container1__3hidden .container__section1__3 .container__section1__3svgcontainer {
  width: 2rem;
  height: 2rem;
  background-color: hsl(212, 18%, 51%);
  border-radius: 1rem;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container .container1__3hidden .container__section1__3 .container__section1__3svgcontainer img {
  color: white;
}
.container .container__overlay {
  display: none;
}

@media (min-width: 57.8125rem) {
  .container {
    display: grid;
    grid-template-areas: "image description";
    grid-template-columns: 2fr 3fr;
    max-width: 49.5rem;
  }
  .container .container__img {
    height: 100%;
    margin: 0;
    border-radius: 0.5rem 0 0 0.5rem;
    grid-area: image;
  }
  .container .container__section1 {
    grid-area: description;
  }
  .container .container__section1 h1 {
    font-size: 1.25rem !important;
    line-height: 140%;
    letter-spacing: 0.2pt;
  }
  .container .container__section1 .container__section1__1 {
    margin: 2rem 2.25rem;
    margin-bottom: 0rem;
  }
  .container .container__section1 .container__section1__2 {
    margin: 2rem 2.25rem;
  }
  .container .container__section1 .container__section1__2 .container__section1__2svgcontainer {
    display: none;
  }
  .container .container__section1 .container__section1__2 .container__section1__2svgcontainer-horizontal {
    display: flex;
  }
  .container .container__section1 .container__section1__2 .container__section1__2svgcontainer-click {
    display: none;
    width: 2rem;
    height: 2rem;
    background-color: hsl(212, 18%, 51%);
    border-radius: 1rem;
    align-self: center;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .container .container1__3hidden {
    display: none;
  }
  .container__overlay {
    position: absolute;
    display: none;
    flex-direction: row;
    gap: 1rem;
    background-color: hsl(217, 19%, 35%);
    padding: 1rem 2rem;
    border-radius: 0.75rem;
    left: -114px;
    bottom: 61px;
    width: -moz-max-content;
    width: max-content;
  }
  .container__overlay p {
    color: hsl(212, 23%, 69%);
    font-size: 0.8125rem;
    letter-spacing: 5pt;
  }
  .container__overlay .media_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .container__overlay .media_buttons img {
    height: 22px;
  }
  .container__overlay .media_buttons .twitter {
    height: 1.125rem;
  }
  .triangle {
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 13px solid hsl(217, 19%, 35%);
    left: 7.25rem;
    bottom: -0.8rem;
  }
}/*# sourceMappingURL=styles.css.map */